* {
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.menu {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.menu,
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-right: 40px;
    font-size: small;
}

.header {
    height: 30px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    background-color: #f5f5f5;
    overflow-x: hidden;
    max-width: 100%;
}

.overlay-video {
    position: absolute;
    padding-left: 2%;
    font-size: 60px;
    fill: aqua;
}

.overlay-video:hover {
    transform: translate3d(0, -20px, 5px);
    color: rgb(199, 170, 9);
    transition: all 0.5s ease;
}

p {
    text-align: center;
    padding-top: 0;
}

h3 {
    text-align: center;
}

.video-bg {
    position: flex;
    width: 100%;
    height: 50%;
    z-index: 1;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
}

.grid img {
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 5%;
    margin-top: 100px;
    margin-left: 100px;
    width: 310px;
    font-family: fantasy;
    justify-content: space-between;
}